<nav>
  <ul>
    <li>
      <%= link_to 'MealPlanner', root_path %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= current_user.email %>
      </li>
      <li>
        <div><%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>
      </li>
    <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</nav>
